@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

/* light mode */
:root{
    --background: #FFFFFF;
    --primary-background-colour:rgba(148, 148, 148, 0.21);
    --navigation: #7DBCEA;
    --windowed-background: #FFFFFF;
    --h1-black-colour: #000000;
    --windowed-frame: rgba(246, 244, 244, 0.35);
    --error-text: #721c24;
    --error-text-border: #721c24;
    --error-text-background: #f8d7da;
    --input-box-background: #FFFFFF;
    --label: #000;
    --placeholder-text-colour: #000;
    --button: #FDFDFD;
    --link-color: #333;
}

/* dark mode */
[data-theme="dark"] {
    --background: rgb(233, 233, 233);
    --primary-background-colour:rgba(148, 148, 148, 0.21);
    --navigation: #949494;
    --windowed-background: #D9D9D9;
    --h1-black-colour: #000000;
    --windowed-frame: #9D9898;
    --error-text: #721c24;
    --error-text-border: #721c24;
    --error-text-background: #f8d7da;
    --input-box-background: #888888;
    --label: #000;
    --placeholder-text-colour: #373737;
    --button: #898787;
    --link-color: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.container{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1037px;
    height: 664px;
    overflow-x: hidden;
    overflow-y: hidden;

    background: var(--primary-background-colour);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.37);
}

.navigation-bar{
    width: 112px;
    max-width: 100%;
    height: 664px;
    background: var(--navigation);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-window{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    width: 925px;
    height: 664px;
    background: var(--windowed-background);
}

.form-window h1{
    width: 439px;
    height: 29px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: var(--h1-black-colour);
}

.form-frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 697px;
    height: 557px;
    background: var(--windowed-frame);
    border: 1px solid rgba(0, 0, 0, 0.19);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

/* --- signup form --- */
.form{
    padding: 25px 30px;
}

.form form{
    margin: 6px 0;
}

.form form .error-txt{
    color: var(--error-text);
    background: var(--error-text-background);
    font-size: 13px;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid var(--error-text-border);
    display: none; 
}

.form form .name-details{
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.form form .name-details .field:first-child{
    margin-right: 10px;
}

.form form .name-details .field:last-child{
    margin-right: 10px;
}

.form form .field{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 10px;
}

.form form .field label{
    color: var(label);
    margin-bottom: 2px;
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
}

.form form .field input{
    outline: none;
}

.form form .input input{
    height: 30px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    background-color: var(--input-box-background);
    border: 3px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

::placeholder{
    color: var(--placeholder-text-colour);
}

.form form .image input{
    font-size: 17px;
}

.form form .button{
    align-items: center;
    padding-bottom: 6px;
}

.form form .button input{
    position: absolute;
    width: 307px;
    height: 42px;
    background: var(--button);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
}

.form form .field i{
    position: absolute;
    right: 15px;
    color: #ccc;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
}

.form form .field i.active::before{
    color: #333;
    content: "\f070";
}

.form-frame .link{
    text-align: center;
    margin: 10px 0;
    font-size: 17px;
}

.form-frame .link a{
    color: var(--link-color);
}

.form-frame .link a:hover{
    text-decoration: underline;
}

/* Login form extras */
.form-frame .form.login label{
    font-size: 30px;
}

.form-frame .form.login .input input{
    height: 50px;
    width: 100%;
    font-size: 20px;
}

.form-frame .form.login .field i{
    font-size: 30px;
}

.form-frame .form.login .button{
    padding-top: 12px;
    padding-bottom: 12px;
}
/* --- --- */

/* --- light/dark mode toggle --- */
/* switch slider */
.light-dark-toggle{
    position: absolute;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-top: 10px;
    bottom: 15px;
    margin-left: auto; 
    margin-right: auto; 
    width: 112px; /* Need a specific value to work */
}

.light-dark-toggle p{
    padding: 10px 10px;
    display: inline-block;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: url("./images/moon-resize.png");
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #ffffff;
}

input:focus + .slider {
    box-shadow: 0 0 1px #b97e00;
}

input:checked + .slider:before {
    content: url("./images/sun-resize.png");
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}
/* --- --- */

/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 992px) {
    .navigation-bar{
        width: 95px;
    }
    .container{
        width: 837px;
    }
    .light-dark-toggle{
        left: -17px;
    }
  }
  
  /* On screens that are 600px wide or less, the background color is olive */
  @media screen and (max-width: 847px) {
    .navigation-bar{
        width: 60px;
    }
    .container{
        width: 500px;
    }
    .form-window{
        width: 440px;
    }
    .form-frame{
        width: 400px;
    }
    .light-dark-toggle{
        transform: rotate(-90deg);
        width: 86px;
    }
    .slider:before {
        /* rotated image moon*/
        content: url("./images/moon-resize-90deg.png")
    }
    input:checked + .slider:before {
        /* rotated image sun */
        content: url("./images/sun-resize-90deg.png");
    }
  } 